.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.posts {
  width: 40%;
  margin-right: 20px;
  max-height: 90vh;
  overflow-x: auto;
}

.post-page {
  width: 60%;
  max-height: 90vh;
  overflow-x: auto;
}
